.logo {
    line-height: 4rem;
    float: left;
    margin: 1.2rem 0 0 2.2rem;
    font-weight: 700;
    letter-spacing: .5rem;
    color: #fff;
}

.navigation {
    margin: 1.2rem;
    line-height: 4rem;
}

.nav {
    font-size: 1.5rem;
    list-style: none;
    display: flex;

    &__link:link,
    &__link:visited, {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 2rem;
        z-index: 10;
    }
}

.social-media {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.social {
    list-style: none;

    &__item {

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }

    &__link:link,
    &__link:visited, {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        padding: 3rem;
        z-index: 10;
    }

    &__icon {
        width: 3.5rem;
        height: 3.5rem;
    }
}

.right-strip {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    color: #fff;
    letter-spacing: .5rem;
}

.banner {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__primary {
        font-size: 5rem;
        color: #fff;
        font-weight: 700;
    }

    &__sub {
        font-size: 3.5rem;
        letter-spacing: .5rem;
        color: #fff;
        font-weight: 300;
    }

    &__button {
        margin-top: 1.5rem;
        border: none;
        padding: 1.5rem 4rem;
        background-color: #fff;
        color: #000;
        letter-spacing: .5rem;
        font-weight: 400;
        font-size: 1.4rem;
    }
    
}

.banner-bottom {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.row {
    text-align: center;
    padding: 3rem;
    background: #000;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
}

.description-header {
       font-size: 2rem;
       font-weight: 700;
       letter-spacing: .5rem;
}

.description-text {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: .2rem;
}

.overlay {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 0;

    & h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4rem;
        font-weight: 700;
        letter-spacing: 1.2rem;
    }
}



